.list {
  margin-top: var(--mantine-spacing-xl);
  justify-content: center;
  gap: var(--mantine-spacing-lg);
}
.list:before {
  content: none;
  border: none;
}

.tab {
  border: 1px dashed var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-sm);
  text-align: center;
  padding: var(--mantine-spacing-lg) !important;
}
.tab[data-active="true"] {
  border: 1px solid var(--mantine-color-orange-6);
}
