.input {
  position: relative;
  cursor: pointer;
}

.inputActive:before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 2px solid var(--mantine-primary-color-filled);
  left: 0;
  bottom: -12px;
}

.combobox {
  width: 225px;
}

.dropdown {
  max-height: 550px;
  overflow-y: auto;
}
