th.pokt-data-table.header {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pokt-data-table.left {
    text-align: left;
}

.pokt-data-table.right {
    text-align: right;
}

.pokt-data-table, .pokt-data-table.center {
    text-align: center;
}

